---
layout: page
title: 半緣 
---
{% include JB/setup %}
<ul class="posts">
  {% assign posts_by_modify = site.posts | sort: 'modify' | reverse %}
  {% for post in posts_by_modify limit: 7 %}
    <li style="padding:5px 0;">
    <span>{{ post.modify | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}

    <li style="padding:5px 0;">
        <a href="{{ site.url }}/archive.html"> ..... more ..... </a>
    </li>
</ul>



